/*
!.gitignore
!README.md
!composer.json
!deploy.php
!wp-cli.yml
!wp-content/
!.github/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
!wp-content/plugins/advanced-custom-fields-pro/
!wp-content/plugins/woocommerce-subscriptions/
!wp-content/plugins/contact-form-7/
!wp-content/plugins/woocommerce-subscriptions-manage/
!wp-content/plugins/woocommerce-follow-up-emails/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
wp-content/themes/*
!wp-content/themes/fortess/