@font-face {
    font-family: 'Archivo';
    src: url('Archivo-Regular.woff2') format('woff2'),
        url('Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

